extends ../layout/main

block variables
	- var title = 'Главная';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section.about-service
		.container
			.row
				.col-12
					.about-service__top
						.about-service__img
							img(src="/assets/img/woman-lifting.jpg", alt="")

						.about-service__info
							.about-service__title Безоперационное лазерное омоложение
								| 
								span.about-service__title-accent Fotona 4D

							.about-service__text глубокий лифтинг без наркоза, разрезов и боли

		.container
			.row
				.col-10.offset-1
					.about-service__content
						.about-service__desc
							ul.list-design
								li Моментальный видимый эффект уже после первой процедуры
								li Минимальный период реабилитации
								li Без сезонных ограничений, в любое время года
								li Комфортная процедура без анестезии


						a(href="#").btn.btn_green.btn_big Записаться
							br
							|на консультацию

	section.desc-service.bg-grey
		.container
			.row
				.col-8.offset-1
					.desc-service__title Многоуровневое дермальное омоложение <b>Fotona 4D</b> — инновационная методика для впечатляющих результатов
					.desc-service__text Лазерное омоложение Fotona 4D (Fotona Technology) – это запатентованный безболезненный метод фототермической реконструкции кожи, признанный во всем мире одним из самых комфортных, безопасных и эффективных методов омоложения. Это уникальная для России технология, которая показывает гарантированный результат и при этом не требует подготовки и восстановительного периода. В рамках одной процедуры выполняется комплекс из 4-х запатентованных anti-aging технологий, восстанавливающих поверхностные, средние и глубокие структуры кожи. Реконструкция тканей лица проводится одновременно с внутренней и внешней стороны, поэтому женщинам дается уникальная возможность получить эффект лифтинга и помолодеть быстро, всего за 1 сеанс.

		.desc-service__bg.d-md-none
			img(src="/assets/img/bg-girl.png", alt="")

		.desc-service-adv
			.container
				.row
					.col-10.offset-1
						.desc-service-adv__content
							-
								var list=[
									{img:'face1.svg', text:'Накопительный эффект за счет запуска выработки собственного коллагена'},
									{img:'face2.svg', text:'Решение широкого спектра проблем за 1 сеанс'},
									{img:'face3.svg', text:'Результат сравним с хирургической подтяжкой лица'},
									{img:'face4.svg', text:'Отсутствие осложнений и побочных эффектов'},
								]

							each item in list
								.desc-service-adv__item
									.desc-service-adv__icon
										img(src="/assets/img/"+item.img, alt="")
									.desc-service-adv__text= item.text

	section.laser-system
		.container
			.row
				.col-11
					.laser-system__content
						.laser-system__img
							img(src="/assets/img/lazer-system.jpg", alt="")

						.laser-system__info
							.laser-system__main
								.laser-system__title Высокотехнологичная лазерная система Fotona SP Dynamis 
								.laser-system__text — это революционное достижение в области лазерных технологий, уникальное оборудование, совмещающее применение эрбиевого и неодимового лазера (Er:YAG и Nd:YAG). Оборудование имеет все необходимые документы, и сертифицировано для применения в России, Штатах, Японии и государствах Европы.

							.laser-system__desc
								p В сравнении с аппаратами прошлых поколений, инновационный лазер Fotona SP Dynamis имеет увеличенную волну с уникальной формой. Лазерная волна способна с высокой точностью воздействовать как на поверхностные, так и на глубокие слои кожи и слизистых оболочек, прогревая и активизируя выработку специфических белков – коллагена и эластина, способствуя обновлению клеток и тканей.
								p Данный функционал не доступен ни в одной другой модели сторонних производителей, поэтому
									| 
									span.laser-system__accent процедура лазерного омоложения Fotona уникальна и не имеет аналогов.

						.laser-system__autor-wrap
							.laser-system__autor
								img(src="/assets/img/mary.jpg", alt="")

							.btn.btn_border.btn_green.btn_big Записаться
								br
								|на консультацию

	section.about-procedures-wrap.bg-gold
		.container
			.row
				.col-8.offset-2
					.about-procedures
						.about-procedures__info
							.about-procedures__title Всего несколько процедур отделяют Вас от молодой и красивой кожи
							.about-procedures__text В рамках одного сеанса проводится комбинация из 4-х лазерных процедур, проводимых последовательно друг за другом

						.slider-procedure.js-slider-procedure
							.slider-procedure__item
								.video-block(style="background-image: url(/assets/img/bg-procedure.jpg)")
									a(data-fancybox, href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").video-block__play

								.slider-procedure__content
									.slider-procedure__title 1 Процедура
									.slider-procedure__text
										p Процедура <b>SMOOTH-lifting</b> — лифтинг изнутри. Революционная технология подтяжки со стороны слизистой ротовой полости. Проводится перорально с целью подтяжки ложных и истинных связок лица, носогубной складки и области щек изнутри.
										p В составе подслизистого слоя содержится теплоемкая межтканевая жидкость, начинающая нагреваться при контактах с лазером и передавать тепло в кожно-мышечные слои. В результате запускаются процессы регенерации и синтеза коллагеновых волокон в организме.
										p <b>Эффект:</b> разглаживание морщин и восполнение объема нижней трети лица (результат сопоставим с эффектом от введения дермальных филлеров).

									.slider-procedure__more
										a(href="#") Подробнее о враче

							.slider-procedure__item
								a(data-fancybox, href="https://youtu.be/lkQ0LDx9jHs", style="background-image: url(/assets/img/bg-procedure.jpg)").video-block
									span.video-block__play

								.slider-procedure__content
									.slider-procedure__title 2 Процедура
									.slider-procedure__text
										p В составе подслизистого слоя содержится теплоемкая межтканевая жидкость, начинающая нагреваться при контактах с лазером и передавать тепло в кожно-мышечные слои. В результате запускаются процессы регенерации и синтеза коллагеновых волокон в организме.
										p <b>Эффект:</b> разглаживание морщин и восполнение объема нижней трети лица (результат сопоставим с эффектом от введения дермальных филлеров).

									.slider-procedure__more
										a(href="#") Подробнее о враче

							.slider-procedure__item
								a(data-fancybox, href="https://youtu.be/d9MaR0V5N2c", style="background-image: url(/assets/img/bg-procedure.jpg)").video-block
									span.video-block__play

								.slider-procedure__content
									.slider-procedure__title 3 Процедура
									.slider-procedure__text
										p Процедура <b>SMOOTH-lifting</b> — лифтинг изнутри. Революционная технология подтяжки со стороны слизистой ротовой полости. Проводится перорально с целью подтяжки ложных и истинных связок лица, носогубной складки и области щек изнутри.

									.slider-procedure__more
										a(href="#") Подробнее о враче

							.slider-procedure__item
								a(data-fancybox, href="https://youtu.be/z8_PAuaQ9SE", style="background-image: url(/assets/img/bg-procedure.jpg)").video-block
									span.video-block__play

								.slider-procedure__content
									.slider-procedure__title 4 Процедура
									.slider-procedure__text
										p Процедура <b>SMOOTH-lifting</b> — лифтинг изнутри. Революционная технология подтяжки со стороны слизистой ротовой полости. Проводится перорально с целью подтяжки ложных и истинных связок лица, носогубной складки и области щек изнутри.
										p <b>Эффект:</b> разглаживание морщин и восполнение объема нижней трети лица (результат сопоставим с эффектом от введения дермальных филлеров).

									.slider-procedure__more
										a(href="#") Подробнее о враче

	section.result-wrap
		.container
			.row
				.col-10.offset-1
					.result-wrap__title Результат заметен уже после первой процедуры!

					.result-list
						-
							var list=[
								{img:'result1.jpg', text:'Кожа приобретает здоровое естественное сияние'},
								{img:'result2.jpg', text:'Уходят брыли и второй подбородок'},
								{img:'result3.jpg', text:'Овал и контуры лица становится более четкими'},
								{img:'result4.jpg', text:'Устраняются пигментация, темные круги и мешки под глазами'},
								{img:'result5.jpg', text:'Кожа становится более плотной и упругой'},
								{img:'result6.jpg', text:'Разглаживаются мимические и возрастные морщины'},
							]

						each item in list
							.result-list__item
								.result-list__content
									.result-list__img
										img(src="/assets/img/"+item.img, alt="")
									.result-list__text= item.text

	section.present-work-wrap
		.container
			.row
				.col-10.offset-1
					.present-work__content
						.present-work__img
							img(src="/assets/img/present-work.png", alt="")

						.present-work__info
							.present-work__title После курса процедур видимый эффект омоложения кожи сохраняется до <b>5 лет!</b>

							.present-work__slider
								.work-slider.js-work-slider
									-
										var list=['work-slide1.jpg', 'work-slide2.jpg', 'work-slide3.jpg', 'work-slide4.jpg', 'work-slide5.jpg', 'work-slide6.jpg']

									each item in list
										.work-slider__item
											img(src="/assets/img/"+item, alt="")

							.present-work__more
								a(href="#") Примеры работ

					.present-work__btn
						a(href="#").btn.btn_green.btn_big Записаться
							br
							|на консультацию

	section.review-wrap
		.container
			.row
				.col-6.offset-3
					.review
						.review__title Отзывы тех, кто уже доверил нам уход за своей красотой

						.review__list
							- for (var x = 0; x < 3; x++)
								.review__item
									.review__img(style="background-image: url(/assets/img/ava.jpg)")

									.review__content
										.review__top
											.review__name Andrew
											.rating
												.rating__content(style="width: 80%;")

										.review__text Замечательная клиника, действительно разбираются с проблемами и помогают. Рекомендую! :)

										.review__bottom
											.review__date 12 Сентября 2019

											.like
												.like__like
													+svg('ic-pulms-up','ic-pulms-up', '23', '22')

												.like__text 18 нравится

												.like__dislike
													+svg('ic-pulms-down','ic-pulms-down', '23', '22')

						a(href="#").review__more Показать еще отзывы

	section.price-wrap
		.container
			.row
				.col-6.offset-3
					.prices
						.prices__title Стоимость лазерного омоложения <b>Fotona</b>

						.prices-table
							.prices-table__head
								.prices-table__title Услуга
								.prices-table__title Новая<br>цена
								.prices-table__title Старая<br>цена

							.prices-table__row
								.prices-table__item
									.prices-table__name <b>FOTONA 4D</b> многоуровневое омоложение лица

								.prices-table__item
									.prices-table__price 27 000
										| 
										span.prices-table__currency руб.

								.prices-table__item
									.prices-table__old-price 30 000 руб.

							.prices-table__row
								.prices-table__item
									.prices-table__name <b>FOTONA 4D</b> многоуровневое омоложение лица
										br
										|(Курс из 3-х процедур)

								.prices-table__item
									.prices-table__price 76 500
										| 
										span.prices-table__currency руб.

								.prices-table__item
									.prices-table__old-price 90 000 руб.


		.form-sale-wrap.bg-brown-light
			.container
				.row
					.col-12
						.form-sale-wrap__img
							img(src="/assets/img/form-sale-girl.png", alt="")

						.row
							.col-5.offset-2
								form.form-sale
									.form-sale__top
										.form-sale__title Только до 30 сентября!
										.form-sale__text При покупке 3-х процедур скидка

									.form-sale__content
										.form-sale__field
											.form-sale__label Имя
											.form-sale__input
												input(type="text")

										.form-sale__field
											.form-sale__label Ваш номер телефона
											.form-sale__input
												input(type="text", class="js-phone")

									.form-sale__bottom
										.form-sale__polit
											.input-check
												input#checkbox1(type='checkbox', checked='checked')
												label.input-check__label(for='checkbox1')
													span.input-check__mark
														+svg('ic-check','ic-check', '21', '16')
														
													span.input-check__text Нажимая кнопку, Вы соглашаетесь с обработкой
														| 
														a(href="#") персональных данныx

										button.btn.btn_green.btn_big(type="submit") Записаться
											br
											|на консультацию

									.form-sale__sale
										span 15
											span.form-sale__percent %


	section.team-wrap
		.team
			.container
				.row
					.col-6.offset-3
						.team__title Процедуру проводят дипломированные специалисты

			.team-slider.js-team-slider
				-
					var list=[
						{img:'alex.jpg', name:'Овчинникова А. В.', post:'Врач-косметолог. Врач-дерматовенеролог.', text:'Дипломированный специалист в области аппаратной и инъекционной косметологии.', exper:'Опыт работы с 2016 г.'},
						{img:'maka.jpg', name:'Зинова М. А.', post:'Врач-косметолог.', text:'Дипломированный специалист.', exper:'Опыт работы с 2014 г.'},
						{img:'dina.jpg', name:'Симкина Д. Н.', post:'Врач-косметолог. Врач-дерматовенеролог.', text:'Дипломированный специалист в области.', exper:'Опыт работы с 2016 г.'},
						{img:'alex2.jpg', name:'Овчинникова А. В.', post:'Врач-косметолог. Врач-дерматовенеролог.', text:'Дипломированный специалист в области аппаратной и инъекционной косметологии.', exper:'Опыт работы с 2016 г.'},
						{img:'maka2.jpg', name:'Зинова М. А.', post:'Врач-косметолог.', text:'Дипломированный специалист.', exper:'Опыт работы с 2014 г.'},
						{img:'dina2.jpg', name:'Симкина Д. Н.', post:'Врач-косметолог. Врач-дерматовенеролог.', text:'Дипломированный специалист в области.', exper:'Опыт работы с 2016 г.'},
						{img:'alex3.jpg', name:'Овчинникова А. В.', post:'Врач-косметолог. Врач-дерматовенеролог.', text:'Дипломированный специалист в области аппаратной и инъекционной косметологии.', exper:'Опыт работы с 2016 г.'},
						{img:'maka3.jpg', name:'Зинова М. А.', post:'Врач-косметолог.', text:'Дипломированный специалист.', exper:'Опыт работы с 2014 г.'},
						{img:'dina3.jpg', name:'Симкина Д. Н.', post:'Врач-косметолог. Врач-дерматовенеролог.', text:'Дипломированный специалист в области.', exper:'Опыт работы с 2016 г.'},
					]
				each item in list
					.team-slider__item
						//- .team-slider__img(style="background-image: url(/assets/img/"+item.img+")")
						.team-slider__img
							img(src="/assets/img/"+item.img, alt="")

						.team-slider__content
							.team-slider__name= item.name
							.team-slider__post= item.post
							.team-slider__text= item.text
							.team-slider__exper= item.exper
							.team-slider__more
								a(href="#") Подробнее о враче


			.container
				.row
					.col-11
						.team__btn
							a(href="#").btn.btn_border.btn_green.btn_big Записаться
								br
								|на консультацию

	section.faq-wrap.bg-grey
		.container
			.row
				.col-12
					.h2 Часто задаваемые вопросы

			.row
				.col-4.offset-4
					-
						var list=[
							{title:'Когда ждать результат?', text:'Процедура дает моментальный и нарастающий эффекты. Полный эффект достигается через несколько месяцев. Для закрепления и усиления результата рекомендуется пройти курс, длительность которого назначает доктор.'},
							{title:'Сколько нужно процедур?', text:'Процедура дает моментальный и нарастающий эффекты. Полный эффект достигается через несколько месяцев. Для закрепления и усиления результата рекомендуется пройти курс, длительность которого назначает доктор. Процедура дает моментальный и нарастающий эффекты. Полный эффект достигается через несколько месяцев. Для закрепления и усиления результата рекомендуется пройти курс, длительность которого назначает доктор.'},
							{title:'Что из себя представляет косметологическая услуга Fotona 4D?', text:'Процедура дает моментальный и нарастающий эффекты. Полный эффект достигается через несколько месяцев.'},
							{title:'Какие у процедуры противопоказания?', text:'Процедура дает моментальный и нарастающий эффекты. Полный эффект достигается через несколько месяцев. Для закрепления и усиления результата рекомендуется пройти курс, длительность которого назначает доктор.'},
							{title:'Как проходит реабилитация?', text:'Процедура дает моментальный и нарастающий эффекты. Полный эффект достигается через несколько месяцев. Для закрепления и усиления результата рекомендуется пройти курс, длительность которого назначает доктор. Процедура дает моментальный и нарастающий эффекты. Полный эффект достигается через несколько месяцев. Для закрепления и усиления результата рекомендуется пройти курс, длительность которого назначает доктор. Процедура дает моментальный и нарастающий эффекты. Полный эффект достигается через несколько месяцев. Для закрепления и усиления результата рекомендуется пройти курс, длительность которого назначает доктор.'},
							{title:'4D омоложение — это больно?', text:'Процедура дает моментальный и нарастающий эффекты. Полный эффект достигается через несколько месяцев. Для закрепления.'},
						]

					each item in list
						.unwrap-block.js-unwrap-block
							.unwrap-block__head.js-unwrap-head= item.title
								.unwrap-block__arr
									+svg('ic-arrow-down','ic-arrow-down', '22', '12')
							.unwrap-block__content.js-unwrap-content= item.text
			
			.row
				.col-8.offset-2
					.form-call
						.form-call__info
							.form-call__title Не нашли ответ на свой вопрос?
							.form-call__text Напишите нам и мы обязательно перезвоним Вам с ответом в самое ближайшее время

						.form-call__content
							.form-call__fields
								.form-call__group
									.form-call__field
										.form-call__label Ваше имя
										.form-call__input
											input(type="text")

									.form-call__field
										.form-call__label Ваш номер телефона
										.form-call__input
											input(type="text", class="js-phone")

								.form-call__field
									.form-call__label Ваш вопрос
									.form-call__input
										textarea

							.form-call__bottom
								.form-call__polit
									.input-check
										input#checkbox2(type='checkbox', checked='checked')
										label.input-check__label(for='checkbox2')
											span.input-check__mark
												+svg('ic-check','ic-check', '21', '16')
												
											span.input-check__text Нажимая кнопку, Вы соглашаетесь с обработкой
												| 
												a(href="#") персональных данныx

								button.btn(type="submit") Получить ответ

	section.license-wrap
		.container
			.row
				.col-10.offset-1
					.h2 Лицензии

		.license-list
			.container
				.row
					.col-10.offset-1
						.license-list__content
							.license-list__item
								a(href="/assets/img/license1.jpg" data-fancybox="images").license-list__link
									img(src="/assets/img/license1.jpg", alt="")

							.license-list__item.active
								a(href="/assets/img/license2.jpg" data-fancybox="images").license-list__link
									img(src="/assets/img/license2.jpg", alt="")

							.license-list__item
								a(href="/assets/img/license3.jpg" data-fancybox="images").license-list__link
									img(src="/assets/img/license3.jpg", alt="")

	section.about-company-wrap
		.container
			.row
				.col-12
					.about-company
						.about-company__img
							img(src="/assets/img/company-girl.png", alt="")

						.row
							.col-8.offset-2
								.about-company__title Клиника SOLA - ваш путь к гармонии и уверенности в себе

								.about-company__text
									p Мы не просто «заглаживаем» и «шлифуем» эстетические проблемы, которые есть или появляются с возрастом, но и восстанавливать внутренний баланс организма в целом. Мы используем современные методы диагностики и лечения, руководствуемся современными знаниями и принципами функциональной медицины, которая направлена на индивидуальную всестороннюю заботу о сохранении здоровья, продлении активного периода жизни, повышении качества жизни и снижении биологического возраста
									p Наша цель – помогать нашим пациентам совершенствовать здоровье и красоту, а значит повышать качество жизни. И заслужив доверие однажды, мы сделаем все от нас зависящее, чтобы сохранить его навсегда!

								.about-company__btn
									a(href="#").btn.btn_border.btn_green.btn_big Записаться
										br
										|на консультацию

	section.gallery-info-wrap
		.container
			.row
				.col-10.offset-1
					.gallery-info.js-gallery-info
						.gallery-info__main
							-
								var list=[
									{img:'gallery-info1.jpg', title:'Заголовок', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident'},
									{img:'gallery-info2.jpg', title:'Заголовок2', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.'},
									{img:'gallery-info3.jpg', title:'Заголовок3', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'},
									{img:'gallery-info4.jpg', title:'Заголовок4', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'},
									{img:'gallery-info5.jpg', title:'Заголовок5', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident'},
									{img:'gallery-info6.jpg', title:'Заголовок6', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.'},
									{img:'gallery-info7.jpg', title:'Заголовок7', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'},
									{img:'gallery-info8.jpg', title:'Заголовок8', text:'Lorem ipsum dolor sit amet. Excepteur sint occaecat cupidatat non proident'},
									{img:'gallery-info9.jpg', title:'Заголовок9', text:'Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident'},
								]

							each item, index in list
								.gallery-info__item.js-gallery-info-item(data-img=index)
									.gallery-info__img(style="background-image: url(/assets/img/"+item.img+")")
									.gallery-info__content
										.gallery-info__title= item.title
										.gallery-info__text= item.text


						.gallery-info-thumb
							-
								var list=[
									{img:'gallery-info1.jpg'},
									{img:'gallery-info2.jpg'},
									{img:'gallery-info3.jpg'},
									{img:'gallery-info4.jpg'},
									{img:'gallery-info5.jpg'},
									{img:'gallery-info6.jpg'},
									{img:'gallery-info7.jpg'},
									{img:'gallery-info8.jpg'},
									{img:'gallery-info9.jpg'},
								]

							each item, index in list
								.gallery-info-thumb__item.js-gallery-info-thumb-item(style="background-image: url(/assets/img/"+item.img+")", data-img=index)

							.gallery-info-thumb__more Больше
								br
								|фото